{% extends 'base.html' %}
{% block content %}

{% if object %}
    <h1>Edit <span class="teal-text">{{ object.name }}</span></h1>
{% else %}
    <h1>Create Trip:</h1>
{% endif %}

<form action="" method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input class="btn" type="submit" value="Submit">
</form>

<div class="create-trips-page-img" />
<script>
    //Constants:
    const startDateEl = document.getElementById('id_start_date');
    const endDateEl = document.getElementById('id_end_date');

    //Configure the datepicker
    M.Datepicker.init(startDateEl, {
        format: 'yyyy-mm-dd',
        default: new Date(),
        setDefault: true,
        autoClose: true,
    });
    M.Datepicker.init(endDateEl, {
        format: 'yyyy-mm-dd',
        default: new Date(),
        setDefault: true,
        autoClose: true,
    });

</script>

{% endblock %}