{% extends 'base.html' %}

{% block content%}
<h1 class="centered">{{ trip.name }}</h1>
<div class="row">
    <div class="col s6">
        <h4>Your Trip Details</h4>
        <!-- Trip Start Card -->
        <div class="card">
            <a href="/trips/{{trip.id}}">
                <div class="card-content">
                    <p>Starting at: <span class="bold">{{trip.start_location}}</span> on <span class="bold">{{trip.start_date}}</span></p>
                </div>
            </a>
        </div>

        <!-- STOP CARDS -->

        {% for s in stops %}
        <div class="card">
            <a href="{% url 'stop_detail' s.id %}">
                <div class="card-content">
                    <p><span class="bold">{{s.stop_name}}</span> on <span class="bold">{{s.stop_date}}</span></p>
                </div>
            </a>
        </div>
        {% endfor %}


        <!-- Trip End Card -->
        <div class="card">
            <a href="/trips/{{trip.id}}">
                <div class="card-content">
                    <p>Ending at: <span class="bold">{{trip.end_location}}</span> on <span class="bold">{{trip.end_date}}</span></p>
                </div>
            </a>
        </div>



        <div class="card-action">
            <a class='btn' href="{% url 'trips_update' trip.id %}">Edit</a>
            <a class='btn red' href="{% url 'trips_delete' trip.id %}">Delete</a>
        </div>
    </div>




    <!-- Adding a stop -->
    <div class="col s6">


        <h4>Add A Stop</h4>
        <form action="{% url 'stop_create' trip.id %}" method="post">
            {% csrf_token %}
            {{ stop_form.as_p }}
            <input type="submit" class="btn" value="Add Stop">
        </form>
    </div>
</div>


<!-- datepicker script -->
<script>
    const stopDateEl = document.getElementById('id_stop_date');

    M.Datepicker.init(stopDateEl, {
        format: 'yyyy-mm-dd',
        default: new Date(),
        setDefault: true,
        autoClose: true,
    });
</script>

{% endblock%}