{% extends 'base.html' %}

{% block content%}
    <h1 class="details-header">{{ trip.name }}</h1>
    <h4>Your Trip Details</h4>
        <div class="card">
            <a href="/trips/{{trip.id}}">
                <div class="card-content">
                    <p>Starting at: {{trip.start_location}} on {{trip.start_date}}</p>
    
                </div>
            </a>
        </div>
        <div class="card">
            <a href="/trips/{{trip.id}}">
                <div class="card-content">
              
                    <p>Ending at: {{trip.end_location}} on {{trip.end_date}}</p>
                </div>
            </a>
        </div>



        <div class="card-action">
            <a class='btn' href="{% url 'trips_update' trip.id %}">Edit</a>
            <a class='btn' href="{% url 'trips_delete' trip.id %}">Delete</a>
        </div>
{% endblock%}