{% extends 'base.html' %}

{% block content %}

        <h1>About Tripster</h1>

        <p id="about-tripster">
            If you love to travel and are eager to plan your next road trip, 
            you have come to the right place! At Tripster we believe travel 
            is essential to a happy life. We are here to help guide you as 
            you embark on your next journey. We provide the best user experience 
            for you to easily plan your destinations, add photos from each place 
            you visit, and more. Enjoy panning your next big get away and always
            travel safe!
        </p>

    <div class="about-page-img" />
{% endblock %}