{% extends 'base.html' %}

{% block content %}
<div class="centered">
    <h1>{{stop.stop_name}} Details</h1>
    <h3>{{stop.stop_adress}}</h3>
    <h3>{{stop.stop_city}}, {{stop.stop_state}}</h3>
    <h3>on {{stop.stop_date}}</h3>
</div>

<div class="card-action centered">
    <a class='btn' href="{% url 'stop_update' stop.id %}">Edit</a>
    <a class='btn red' href="{% url 'stop_delete' stop.id %}">Delete</a>
</div>

<hr>
{% for photo in stop.photo_set.all %}
    <img src="{{photo.url}}" alt="{{stop.name}}" class="responsive-img card-panel">
{% empty %}
    <div class="card-panel teal-text center-align">No Photos Uploaded</div>
{% endfor %}
<form class="card-panel" action="{% url 'add_photo' stop.id %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="photo-file">
    <br>
    <br>
    <input type="submit" class="btn" value="Upload Photo">
</form>
<div class="stops-page-img" />

{% endblock %}